<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen="">

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" sizeLg="3" sizeMd="6"
            *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-img src="/assets/stan-lee.jpg"></ion-img>
                <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam molestias obcaecati voluptatum sapiente fugit quidem, quibusdam qui aut unde fuga deleniti iusto vitae iste autem facere neque incidunt nulla repellendus.
                </ion-card-content>
            </ion-col>
            
        </ion-row>
    </ion-grid>

</ion-content>
